* {
    margin: 0;
    padding: 0;
}

html, body{
    font-family: "Inter", serif;
}

#nav-container{
    margin: 0 400px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    align-items: center;
}

.nav-menu ul{
    display: flex;
}

.nav-menu ul li{
    padding: 20px;
    list-style: none;
    font-size: 30px;
    font-weight: 400;
    color: #666;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.hamburger-menu {
    font-size: 50px;
    color: #666;
    cursor: pointer;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    max-height: 45vh;
    margin-bottom: 60px;
}

h1 {
    text-align: center;
    margin: 20px;
    color: #666
}

p {
    text-align: center;
    margin: 20px;
    color: #666;
}

.cta {
    text-align: center;
}

.cta button{
    margin-top: 25px;
    padding: 10px 30px;
    font-size: 1.2em;
    font-weight: 500;
    border: none;
    background-color: #387ed1;
    color: #fff;
    border-radius: 5px;
}